.container {
  display: flex;
  height: 100vh;
  font-family: "Segoe UI", sans-serif;
}

.leftPanel {
  background: linear-gradient(135deg, #ff6b81, #f78ca0);
  color: white;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.welcome {
  font-size: 3rem;
  font-weight: bold;
  transform: rotate(-90deg);
  position: absolute;
  left: -70px;
  top: 50%;
}

.logo {
  width: 200px;
  height: auto;
  margin: 20px;
  box-shadow: 0 12px 40px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
}

.intro {
  font-size: 19px;
  text-align: center;
  margin-top: 20px;
}

.rightPanel {
  width: 50%;
  background-color: #f9ffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loginHeader {
  font-size: 2rem;
  color: #ff6b81;
  margin-bottom: 20px;
}

.inputGroup {
  position: relative;
  margin: 15px 0;
  width: 60%;
}

.inputGroup input {
  width: 100%;
  padding: 10px 10px 10px 35px;
  border: none;
  border-bottom: 2px solid #ffa9b6;
  background: transparent;
  outline: none;
  font-size: 1rem;
}

.icon {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #ff6b81;
}

.loginBtn {
  margin-top: 20px;
  padding: 10px 40px;
  background-color: #ff6b81;
  color: white;
  border: none;
  border-radius: 25px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.loginBtn:hover {
  background-color: #ff6b81;
}

.links {
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin-top: 15px;
}

.links a {
  color: #ff6b81;
  text-decoration: none;
  font-size: 0.9rem;
}
