.newsContainer {
  padding: 96px 32px 32px;
  font-family: "Inter", sans-serif;
  background: rgba(255, 255, 255, 0.95);
  min-height: 100vh;
  box-sizing: border-box;
}

.title {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 32px;
  color: #ff6b81;
  text-align: center;
}

.newsList {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 900px;
  margin: 0 auto;
}

.newsItem {
  display: flex;
  gap: 24px;
  background-color: #ffffff;
  padding: 24px;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  align-items: stretch;
}

.newsItem:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
}

.newsImage {
  width: 30%;
  max-width: 200px;
  border-radius: 12px;
  object-fit: cover;
  height: auto;
}

.newsContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Дата внизу */
  flex: 1;
}

.textBlock {
  flex-grow: 1;
}

.textBlock h2 {
  color: #f5587b;
  margin-bottom: 10px;
  font-size: 1.5rem;
}

.textBlock p {
  color: #444;
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 8px;
}

.date {
  font-size: 0.9rem;
  color: gray;
  align-self: flex-end;
}
